 <form action="{{url}}" method="{{metodo}}">
    <div class="mb-3">
    <label for="title">Title:</label>
    <input
        type="text"
        name="title"
        placeholder="Add the title"
        class="form-control"
        value="{{title}}"
        autofocus
    />
    </div>
    <div class="mb-3">
    <label for="price">Price:</label>
     <input
        type="text"
        name="price"
        placeholder="Add the price"
        class="form-control"
        value="{{price}}"
        autofocus
    />
    </div>
    <div class="mb-3">
    <label for="thumbnail">Thumbnail:</label>
     <input
        type="text"
        name="thumbnail"
        placeholder="Add the thumbnail"
        class="form-control"
        value="{{thumbnail}}"
        autofocus
    />
    </div>

    <button type="submit" class="btn btn-primary btn-block">
    {{botonName}}
    </button>
</form>