<ul>
    {{#if books.length}}
    <table class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Action</th>
        </tr>
    </table>
    <h2>{{#each books}}</h2>
    <table class="table">
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{thumbnail}}</td>
            <td>
                <a href="/api/products/edit/{{id}}" class="btn btn-secondary">
            </td>
        </tr>
    </table>
    {{/each}}
    {{else}}
    <p class="text-black display-3 text-center my-5">No tenemos tareas</p>
    {{/if}}
</ul>