
<ul>
    {{#if books.length}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <h2></h2>

        {{#each books}}
        <tr>

            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{thumbnail}}</td>
            <td>
                <a href="/api/products/edit/{{id}}">
                    Edit
                </a>
                <a data-method="delete" href="/api/products/delete/{{id}}">
                    Delete
                </a>
            </td>

        </tr>
        {{/each}}

    </table>

    {{else}}
    <p class="text-black display-3 text-center my-5">No tenemos tareas</p>
    {{/if}}
</ul>
<a class="btn btn-info" href="/" role="button">
    Back to the initial page
</a>